{BreakBeforeBraces: Allman,
 ColumnLimit: 120,
 AlignOperands: true,
 AlignTrailingComments: true,
 IndentWidth: 4,
 UseTab: Never,
 AllowShortIfStatementsOnASingleLine: false,
 AlignAfterOpenBracket: true,
 AlignConsecutiveDeclarations: true,
 AlignConsecutiveAssignments: true,
 IndentCaseLabels: true,
 ReflowComments: true,
 BreakBeforeBinaryOperators: NonAssignment }
