{
    BasedOnStyle: LLVM,
    BreakBeforeBraces: Allman,
    ColumnLimit: 0,
    AlignOperands: true,
    AlignTrailingComments: true,
    IndentWidth: 4,
    UseTab: false,
    AllowShortIfStatementsOnASingleLine: false,
    AlignAfterOpenBracket: true,
    AlignConsecutiveDeclarations: true,
    AlignConsecutiveAssignments: true,
    IndentCaseLabels: true,
    ReflowComments: true,
    BreakBeforeBinaryOperators: All
}
